@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    --primary-color: #0F9FF7;
    --secondary-color:#071229;
    --font-title-size: 50px !important;
    --font-normal-size: 20px;
    --font-small-size: 12px;
    --font-desc-size: 14px;
    --weight-hero: 700 !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Loader */
/* Styles for the preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Style for the logo */
.logo {
    width: 200px; /* Adjust the size of your logo */
    height: auto;
    animation: floatAnimation 5s infinite alternate; /* Adjust the duration as needed */
}

/* Animation for floating effect */
@keyframes floatAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Adjust the scaling factor for the floating effect */
    }
    100% {
        transform: scale(1.1); /* Adjust the scaling factor for the floating effect */
    }
}

body{
    overflow-x: hidden;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease-in-out; /* Adjust the duration and timing function as needed */
}
/* --------------------------------- */

/* Styles for the main content */
/* .content {
    display: none; /* Hide the content until the page is fully loaded */
/* } */



.placeholder {
    background: var(--secondary-color);
}
.placeholder-1{
    background-image: url('../assets/background/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.placeholder-2{
    background-image: url('../assets/background/2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.placeholder-3{
    background-image:url("../assets/background/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.placeholder-4{
    background-image: url('../assets//background/4.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.placeholder-5{
    background-image: url('../assets//background/5.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.placeholder-6{
    background-image: url('../assets//background/6.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.placeholder-7{
    background-image: url('../assets//background/7.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 100%;
}
.container-menu {
    display: flex;
    padding: 10px 10px;
    color: #fff;
    align-items: center;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.ul {
    display: none;
    position: absolute;
    top:15%;
    background: var(--primary-color);
    width: 100%;
    right: 0;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins'w,sans-serif;
}
li{
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    list-style-type: none;
}
/* li:hover{
    box-shadow: 2px 2px #071229;
} */
li a{
    text-decoration: none;
    color: #fff;
}
.bar{
    font-size: x-large;
    cursor: pointer;

}
#toggle{
    display: none ;
}

#toggle:checked ~ .ul{
    display: flex;
    flex-direction: column;
}

.services-icon-arrow{
    display: flex;

    /* position: relative; */
    /* justify-content: space-between; */
}

.services-icon-arrow .down{
    display: none;
    transition: .3s;
}
/* .services-icon-arrow:hover .down{
    display: flex;
} */
.sub-nab{
    display: none;
    background:#313131;
    padding: 0;
    margin-top: .8rem; 
    /* position: absolute; */
}
.sub-ul{
    display: none;
    position: absolute;
    left: 63px;
    top: 0;
    background:#313131;
}
.sub-nav-2:hover .sub-ul {
    display: flex;
    flex-direction: column;
}
/* Ul or sub list of the Branding */
.brandingItems, 
.reportsItems,
.outdoorLists,
.businessLists,
.merchandiseLists,
.printLists,
.photoEditLists,
.videoEditingLists,
.contentWritingLists,
.profandbusinessWritingLists,
.proofreadEditingLists,
.transcriptLists {
    display: none;
    position: absolute;
    left: 101%;
    top: 0;
    background: #313131;
    border-radius: 0px 20px 20px 20px;
}
/* Show when hovering over */
.branding:hover .brandingItems ,
.reports:hover .reportsItems,
.outdoor:hover .outdoorLists,
.business:hover .businessLists,
.merchandise:hover .merchandiseLists,
.print:hover .printLists,
.photoEdit:hover .photoEditLists,
.videoEditing:hover .videoEditingLists,
.contentWriting:hover .contentWritingLists,
.profandbusinessWriting:hover .profandbusinessWritingLists,
.proofreadEditing:hover .proofreadEditingLists,
.transcript:hover .transcriptLists {
    display: flex;
    flex-direction: column;
}

.services-icon-arrow:hover .sub-nab{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sub-nab li{
    /* background-color: #ffff; */
    width: 100%;
}
.search-modal{
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container-sign-search{
    display: none;
    height: 41px;
    position: absolute;
    top: 50%;
    gap: .5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* #toggle:checked .container-sign-search{
    display: block;
} */
.mini-divider{
    height: 30px;
    border: 1px solid rgba(167, 167, 167, 0.486);
}
.login-up{
    display: flex;
    background-color: rgba(128, 128, 128, 0.385);
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: var(--font-small-size);
    border-radius: 50px;
    width: 163px;
    height: 41px;
}

/* Hero Section */
.container-hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Poppins',sans-serif;
}
.container-hero h2{
    color: var(--primary-color);
    font-size: 20px !important;
    font-weight: 600 !important;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 6px;
}
.container-hero h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px !important;
    line-height: 100%;
    font-style: normal;
    font-weight: var(--weight-hero) !important;
}
h1 span{
    color: var(--primary-color) !important;
}
.main-divider{
    width: 100px;
    height: 3px;
    background-color: var(--primary-color);
}
.container-hero p {
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300 !important;
    line-height: normal;
}
.about-btn{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* The Video of About us will slide in when clicking the Play Button on hero page */
#video-Container {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transform: translateX(100%); /* Initially, move the element outside the viewport */
    transition: transform 1s; /* Apply transition to the transform property */
}

#video-Container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 920%;
    background-color: hsla(0, 0%, 0%, 0.651);
    backdrop-filter: blur(3px);
    z-index: -1; 
}

video{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    /* z-index: 99; */
    transform: translate(-50%, -50%);
}

/* Service Section */
.grid {
    margin-top: 2rem;
    grid-template-columns: 1fr; /* Switch to a single column */
    width: 100%; /* Full width for mobile devices */
    gap: 100px;
    padding-right: 2rem;
    padding-left: 2rem;
}
.cell {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding: 10px 5px;
    border-radius: 0px 20px 20px 20px;
    transition: .3s;
    cursor: pointer;
}
.cell:hover{
    background: var(--primary-color);
    transform: translate(0,-8px);
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
#cell-divider{
    transition: .3s;
}
.cell:hover #cell-divider{
    background-color: #fff;
}
.span{
    transition: .3s;
    line-height: 100%;
}
.cell:hover .span{
    color: #fff !important;
}

.cell-label{
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
}
.cell-title{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: 700 !important;

}
.cell-desc {
    font-size: 14px;
}
.cell-title span{
    color: var(--primary-color) !important;
}
.cell img{
    position: absolute;
    top: 2;
    right: 16px;
}

.divider {
    display: none; /* Hide the divider on mobile */
}
.Benefits, .About, .Blog, .Services {
    padding-top: 5rem;
}
.Blog{
    position: relative;
}
.Hero {
    padding-top: 2rem;
}

/* Our Blog Section */
.Card-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4rem;
    gap: 20px;
    
}
.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 99%;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0px 20px 20px 20px;
    transition: .3s;
}
.card:hover{
    border-radius: 0px 20px 20px 20px;
    background: var(--primary-color);
    transform: translate(0,-8px);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.card h2{
    color: #fff;
}
.card p {
    font-size: var(--font-small-size);
    color: #fff;
    font-weight: 400;
    line-height: normal;
}
/* .card img {
    width: 350px;
    height: 270px;
} */
.see-all-container{
    display: flex;
    justify-content: center;
}
.see-all-btn{
    border-radius: 20px;
    text-decoration: none;
    background: #FFF;
    padding: 10px 20px;
    color: #313131;
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
    cursor: pointer;
    transition: .3s;
    margin-top: 1rem;
    width: fit-content;
    border: none;
}
.see-all-btn:hover{
    background: #313131;
    border: none;
    color: #fff;
}



/* Faq Section */
.faq-container{
    padding: 0 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faq-1{
    border-radius: 0px 20px 20px 20px;
    background: rgba(49, 49, 49, 0.50);
    padding: 1rem;
    cursor: pointer;
    
}
#cta-faq{
    display: none;
}
.faq-1 p {
    display: none;
    margin-top: 10px;
    font-size: 12px;
}
.faq-1{
    font-size: 12px
}

#cta-faq:checked ~ p{
    display: block;
}
#cta-faq:checked ~ label{
    font-size: 1rem;
    border-bottom: 1px solid white;
}

/* Testimonials */
.form-container{
    padding: 10px;
}
.reachoutForm{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    gap: 5px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.658);
}

.textarea{
    resize: none;
    padding: 10px;
}
.textarea:hover, .textarea:focus{
    border: 1px solid var(--primary-color);
}
.form-inputs{
    display: flex;
    flex-direction: column;
}
.form-inputs-container{
    display: flex;
    width: 100%;
}
.reachoutForm label{
    color: black;
    font-size: 12px;
}
input{
    height: 39px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    padding: 0 10px;
    background-color: transparent;
}
.submit-btn{
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.submit-btn:hover{
    background: #313131;
    border: none;
}

footer{
    background: var(--secondary-color);
    padding: 1rem;
    color: #fff;
}
.quick-links{
    display: flex;
    justify-content: space-around;
}
.title-links{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.company {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.company a{
    text-decoration: none;
    color: #ffffffb0;
    font-size: 12px;
    font-weight: 300;
}
.form-for-newsletter{
    background-color: transparent;
}
/* .news-letter{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.form-for-newsletter label{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 13.91px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.input-for-email{
    display: flex;
    height: 58px;
}
.email{
    border-radius: 0px 0px 0px 20px;
    border: 1px solid #595959;
    background: #313131;
    height: 100%;
    width: 100%;
    color: #fff;
}
.subscribe-btn{
    border-radius: 0px 20px 20px 0px;
    background: #FFF;
    color: #313131;
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
    height: 100%;
    text-transform: uppercase;
}
.social-links{
    margin-top: 3rem;
    padding: 1rem;
}
.social-links p{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 13.91px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.links{
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.Rights{
    margin-top: 3rem; 
    display: flex;
    justify-content: center;
    color: #ffffffad;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
textarea{
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    padding: 0 10px;
    background-color: transparent;
}



/* Next to fix is the higher px version */

@media screen and (min-width:768px) {
    .container-hero{
        padding-right: 20px;
        padding-left: 20px;
    }
    .grid {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        gap: 36px;
    }
    .cell {
        padding: 12px;
    }
    .Card-Container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 4rem;
        gap: 20px;
    }
    .card{
        width: 45%;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .quick-links{
        display: flex;
        gap: 16px;
        justify-content: flex-start;
    }
    .submit-btn{
        display: flex;
        width: 336px;
        padding: 10px 20px;
        justify-content: center;
        gap: 21px;
        border-radius: 20px;
        background: #0F9FF7;
        margin: auto;
        margin-top: 20px;
    }
    .footer-container{
        display: flex;
        justify-content: space-around;
    }
    .form-inputs-container{
        display: flex;
        width: 100%;
        gap: 12px;
    }
    .form-inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media screen and (min-width:1024px) {
    .container,.form-container{
        max-width: 968px;
        margin: auto;
    }
    .container-menu{
        display: flex;
        justify-content: space-between;
    }
    .ul {
        display: flex;
        gap: 20px;
        position: static;
        background: transparent;
        /* width: 100%; */
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins',sans-serif;
    }
    .ul li{
        width: max-content;
    }
    .services-icon-arrow{
        position: relative;
    }
    .sub-nab{
        position: absolute;
        top: 20px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    nav .bar {
        display: none;
    }
    .container-sign-search{
        display: flex;
        height: 41px;
        position: static;
        gap: .5rem;
        align-items: center;
        justify-content: flex-end;
    }

    /* Hero Section */

    .container-hero h2{
        font-size: 16px;
    }
    .container-hero h1{
        font-size: var(--font-title-size);
    }
    /* Service Section */
    .grid {
        /* margin-top: 2rem; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        gap: 36px;
    }


    /* Our Blog */
    .card{
        width: 30%;
    }
    .footer-container{
        display: flex;
        justify-content: space-around;
    }
    .form-inputs-container{
        display: flex;
        width: 100%;
        gap: 12px;
    }
    .form-inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
    }


}

@media screen and (min-width: 1440px) {
    .container,.form-container{
        max-width: 1250px;
        margin: auto;
    }
    .Hero{
        padding-top: 5rem;
    }
    .Benefits, 
    .About, 
    .Blog, 
    .Services{
        padding-top: 9rem;
    }
    .container-hero{
        gap: 30px;
    }
    .form-container{
        padding-bottom: 70px;
    }
    .reachoutForm{
        padding: 30px;
    }
    .quick-links{
        display: flex;
        gap: 70px;
    }
    footer{
        padding-top: 40px;
    }
    
    .sub-nab li{
        padding: 12px 10px !important;
        /* background-color: #0F9FF7; */
        width: 200px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }
    .sub-nab{
        display: none;
        background:#313131;
        padding: 0;
        margin-top: .8rem; 
        border-radius: 0px 20px 20px 20px;
        background: #313131;
    }
    /* .sub-nav-2{
        width: 100% !important;
        height: 100% !important;
    } */
    .sub-ul{
        display: none;
        position: absolute;
        left: 101%;
        top: 0;
        padding: 0;
        background:#313131;
        border-radius: 0px 20px 20px 20px;
    }
}

/* Button to trigger the Modals */
.login-modal{
    cursor: pointer; 
}
.sign-up-modal{
    cursor: pointer;
}

/* Modals */
.modal {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 500px;
    height: 400px;
    padding: 46px 82px;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 0px 30px 30px 30px;
    background: #000;
}
dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.397);
    backdrop-filter: blur(3px);
}


/* Log in form modal */
.login{
    width: 100%;
    height: 100%;
}
.login h4{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.login-Form{
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.userInput{
    color: #fff;
    width: 100%;
}
.login-Form label{
    color: #5F5F5F;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.loginFormContainer{
    display: flex;
    justify-content: space-between;
}
.loginFormContainer div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.loginFormContainer div a{
    color: #0F9FF7;
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    line-height: normal;
}
#rememberme{
    background-color: #D9D9D9;
}
.loginBtn{
    border-radius: 20px;
    background: #313131;
    display: flex;
    width: 336px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.back-links{
    position: absolute;
    color: #FFF;
    right: 3%;
    top: 20%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}



/* Signup modal */

.Names{
    display: flex;
    gap: 16px;
}
#Fname{
    width: 100%;
    color: #fff;
}
#Lname {
    width: 100%;
    color: #fff;
}
.old-user-login{
    color: #0F9FF7;
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}
.text-old-user{
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Poppins',sans-serif;
    font-size: 9.691px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.signupBtn{
    border-radius: 20px;
    background: #313131;
    display: flex;
    width: 336px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 21px;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
input:hover, input:focus{
    border: 1px solid var(--primary-color);
}





/* Search */
.search-container{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #0000009c; */
    background-color: hsla(0, 0%, 0%, 0.445);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    
}
.inner-container-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    height: 60px;
    width: 500px;
    border-radius: 0px 20px 20px 20px;
    border: 1px solid #595959;
    z-index: 99;
}
.search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none !important;
    border-radius: 0px 20px 20px 20px;
    color: #fff;
    font-size: 1rem;
    /* padding: 0 10px; */
}
.search-input:focus, .search-input:hover{
    outline: none !important;
    border: none;
}
.search-button{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}